---
const { titel, beskrivelse, tid, dato, billede } = Astro.props;
import Button from "./Button.astro";
import "../styles/style.css";
---

<section>
    <div class="textcontent">
         <div class="grid">
        <h3>{titel}</h3>
        <p>{beskrivelse}</p>
            <img src="./icons/klokkeicon.svg" alt="">
            <p>{tid}</p>
        </div>
        <div class="grid">
            <img src="./icons/datoicon.svg" alt="">
            <p>{dato}</p>
        </div>
        <Button variant="secondary">
            Læs mere her
        </Button>
    </div>
    <img src={billede} alt="">
</section>


<style>
    section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
    padding: 40px;
    background-color: var(--bg-color-primary);
    color: var(--text-color-primary);
    text-align: left;
    max-width: 900px;
    max-height: 500px;
    margin-inline: auto;
    }

    .billede {
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 40px;
        display: inline-flex;

    }

    h3 {
    width: 100%; 
    height: 100%; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    gap: 32px; 
    display: inline-flex"
    }

    .textcontent{
        padding: 60px;
    }
	
</style>
